<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Register data"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Registation</title>
	<style>
		img{
			width: 500px;
		}
	</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h1 class="mt-5">Registation</h1>
			<form method="post" action="{{ url_for('register') }}">
			<label for="fname">First name:</label>
			<input type="text" id="fname" name="fname"><br><br>
			<label for="lname">Last name:</label>
			<input type="text" id="lname" name="lname"><br><br>
			<label for="bday">Date of birth:</label>
			<input type="date" id="bday" name="bday"><br><br>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email"><br><br>
			<label for="phone">Phone number:</label>
			<input type="number" id="phone" name="phone"><br><br>
            <img src="{{ url_for('video_feed') }}" height="80%">
			<input type="submit" value="Capture" name="click"/>
			<input type="submit" value="Back" name="back">
			</form>
        </div>
    </div>
</div>

</body>
</html>